FLASK_PORT=5056
PORT=5056

# Allow all during early testing, then restrict to your Vercel domain in production
# Example:
# CORS_ALLOWED_ORIGINS=https://your-project.vercel.app
CORS_ALLOWED_ORIGINS=*

# mysql | azure
DB_ENGINE=azure

# Schema
DB_SCHEMA=hdl

# ----------------------------
# MySQL / MariaDB (optional)
# ----------------------------
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=3644
DB_NAME=hdl

# ----------------------------
# Azure SQL (recommended for deploy)
# ----------------------------
AZURE_DB_SERVER=drt-kaist.database.windows.net
AZURE_DB_PORT=1433
AZURE_DB_NAME=HDL
AZURE_DB_USER=drt-kaist@drt-kaist
AZURE_DB_PASS=hdl3644@
AZURE_DB_DRIVER={ODBC Driver 18 for SQL Server}
AZURE_DB_ENCRYPT=yes
AZURE_DB_TRUST_SERVER_CERT=no

